.main-container{
    height: 100vh;
    overflow-x: hidden;
    display: flex;
}

.left-container{
    flex: 1;
    position: relative;
    height:inherit;
    background:url('./../../assets/man-with-credit-card\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.2);
}

.right-container {
    flex: 1.25;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-container {
    width: 65%;
    /* background-color: aqua; */
    /* margin: auto; */
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 15%;
}

.message-container p {
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
}

