.signup-container {
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: auto;
    /* align-items: center; */
    justify-items: center;
}

.header{
    /* background-color: rgb(25, 112, 112); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-title {
    font-size: 25px;
    color: white;
    font-weight: 700;
    width: max-content;
    margin-top: 20px;
    color: #2AA57F;
    /* background-color: blueviolet; */
}

.signup-form {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.go-to-login {
    font-size: 13px;
    width: max-content;
    margin: auto;
}

.go-to-login span {
    cursor: pointer;
    padding: 0px 3px;
    color: #2AA57F;
}